extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/view") My Miis
    .navlink
      a(href="/viewAll") Miiverse
  section#makeMii
    form#MiiForm(class="MiiForm", name="MiiForm", action="/maker", method="POST")
      label(for="name") Name: 
      input#miiName(type="text", name="name", placeholder="Mii Name")
      br
      label(for="age") Age: 
      input#miiAge(type="text", name="age", placeholder="Mii Age")
      br
      label(for="Color") Color:
      input#miiColor(type="text", name="color", placeholder="Shirt Color")
      br
      label(for="face") Face:
      .face
        input#miiFace(type="radio", name="face", value="1")
        img(class="miiFace", src="/assets/img/miiface1.jpg", alt="mii face")
      .face
        input#miiFace(type="radio", name="face", value="2")
        img(class="miiFace", src="/assets/img/miiface2.jpg", alt="mii face")
      br
      input(type="hidden", name="_csrf", value="#{csrfToken}")
      a#makeMiiSubmit(class="makeMiiSubmit", href="#") Make Mii
  #miiMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#mii(src="assets/img/mii.png", alt="mii")
block scripts
        script(src="/assets/maker.js")