extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/logout") Log out
    .navlink
      a(href="/maker") Make a Mii
    .navlink
      a(href="/view") My Miis
  section#miis
    if !miis || miis.length == 0
        div.mii
            h3.emptyMii No Miis yet
    else
        each val in miis
            div(style={background: val.color}).mii
                img(class="miiFace", src="/assets/img/miiface" + val.face + ".jpg", alt="mii face")
                if !val.ownerUsername
                  h3.user Creator: Unknown
                else
                  h3.user Creator: #{val.ownerUsername}
                
                h3.miiName Name: #{val.name}
                h3.miiAge Age: #{val.age}
  #miiMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#mii(src="assets/img/mii.png", alt="mii")
block scripts
        script(src="/assets/maker.js")